/*google font font familys: font-family: 'Changa', sans-serif;
font-family: 'Dr Sugiyama', cursive;
font-family: 'Sacramento', cursive; 
colorwheel kleuren: roze: #D42B5F groen: #2BD4A0
*/
body{
    background-image: linear-gradient(90deg,#F7DAE3, #DAF7EE);
    margin:0px;
    padding:0px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
#logo{
    height: 70px;
}
.navigatie{
    top:0;
    position: fixed;
    width:100%;
    display: block;
    height:70px;
    background-color: #D42B5F;
    font-family: 'Changa', sans-serif;
}

.navigatie ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.navigatie li{
    float: right;
}

.navigatie li a{
    display: inline-block;
    text-align: center;
    padding:14px 16px;
}

.navigatie li a:hover{
    background-color: #811A3A;
    height: 40px;
}

a{
    color:#2BD4A0;
    text-decoration: none;
}
.footer{
    background-color: #D42B5F;
    color: #2BD4A0;
    text-align: center;
    margin-top: auto;
}
#ma_rise{
    padding: 100px;
    text-align: center;
    line-height:15px;
    font-size: small;
    font-family: 'Changa', sans-serif;
    color:#15664D;
}

#img_ma{
    width: 30%;
    border-radius: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/*opmaak voor over mij */
table{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

td{
    border: 3px solid #f3c2d1;
    background-color: #f3c2d1;
    color:#D42B5F;
    border-radius: 5px;
    }
th{
    border: 4px solid #C2F3E3;
    color:#15664D;
    background-color:#C2F3E3;
    border-radius: 5px;
}

/*opmaak voor contact */
input[type=text], input[type=email], textarea, button{
    display: block;
    margin: 10px 20px;
    width: 400px;
    box-sizing: border-box;
    border-radius: 5px;
    font-family: 'Changa', sans-serif;
}
textarea{
    height: 100px;
    padding: 5px 5px;
    font-family: 'Changa', sans-serif;
}
#contactformulier{
    margin: 80px;
    width: 450px;
    background-color:#C2F3E3;
    border: 5px solid #15664D;
    font-family: 'Changa', sans-serif;
}
button{
    background-color:#F3C2D1;
    font-family: 'Changa', sans-serif;
}
button:active{
    background-color: #EA97B1;
    font-family: 'Changa', sans-serif;
}